<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="org.author.appname"
	android:versionCode="1"
	android:versionName="1.0">
	
	<application android:label="@strings/app_name">
		<activity android:name="org.author.appname.MainActivity">
			 <intent-filter>
				<category android:name="android.intent.category.LAUNCHER"/>
				<action android:name="android.intent.action.MAIN"/>
			 </intent-filter>
		</activity>
	</application>

</manifest>